# dependencies
node_modules

# logs
npm-debug.log
ffmpeg*.log

# Nuxt build
.output
.data
.nuxt
.nitro
.cache
dist

# Nuxt generate
dist

# junk
.DS_Store

# env
.env

# Local Netlify folder
.netlify
deno.lock
