/* stylelint-disable selector-id-pattern */
@use 'utils/breakpoints' as bp;

/**
 * CSS custom properties
 */
:root {
  /* Page */
  --page-top-padding: var(--space-24);
  --page-side-padding: var(--space-8);

  @include bp.below('sm') {
    --page-side-padding: var(--space-4);
  }

  --navbar-background-color: var(--color-bg);
}

/**
 * Globals
 */

/* Page */
html {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  letter-spacing: var(--letter-spacing-base);
  overflow-y: scroll;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

::selection {
  background: rgb(from var(--color-bg-primary) r g b / 30%);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--letter-spacing-bold);

  &:first-child {
    margin-top: 0;
  }
}

/* Code and fixed-width */
code[class*='language-'],
pre[class*='language-'] {
  /* override small font-size set by `~prism-themes/themes/vsc-dark-plus.css` */
  font-size: inherit !important;
}

code,
pre,
kbd,
samp {
  &,
  &[class*='language-'] {
    border-radius: var(--radius-md);
    font-family: var(--font-mono);
    letter-spacing: initial;

    &:not(.nuxt-content-highlight &) {
      /* color taken from `~prism-themes/themes/vsc-dark-plus.css` */
      background-color: #1e1e1e;
      padding: 0.25rem 0.5rem;
    }
  }
}

/* bold tags */
b,
strong {
  font-weight: 700;
  letter-spacing: var(--letter-spacing-bold);
}

/* lists */
li {
  margin-bottom: var(--space-2);
}

/* Forms */
input,
select,
textarea {
  border-color: var(--color-border);
  font-family: var(--font-body);
}

button {
  border: none;
  cursor: pointer;
}

label {
  font-family: var(--font-mono);
}
