@use 'sass:math';
@use 'utils/breakpoints' as bp;

:root {
  /* Page */
  --page-top-padding: var(--space-24);
  --page-side-padding: var(--space-8);

  @include bp.below('sm') {
    --page-side-padding: var(--space-4);
  }
}

.container {
  margin: 0 auto;
  max-width: bp.$xxl;
  width: 100%;

  &--narrow {
    max-width: bp.$xl;
  }
}

/* TODO?: implement a grid system? */
.two-column {
  display: block;

  &__wide-col,
  &__narrow-col {
    min-width: 0;
  }

  @include bp.above('xl') {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    &__wide-col {
      flex: 1 1 0;
      max-width: math.div(8, 12) * 100%;
    }

    &__narrow-col {
      flex: 0 0 auto;
      margin-left: 1rem;
      max-width: math.div(3, 12) * 100%;
      width: math.div(3, 12) * 100%;
    }
  }
}

.sidebar {
  position: sticky;
  top: 6rem;

  &__section {
    margin-top: 4rem;

    @include bp.above('xl') {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
