.page,
.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 250ms;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.layout {
  &-enter-active,
  &-leave-active {
    /* hack to transition layouts without without transitioning the navbar */
    .content,
    .chat-sidebar {
      transition: opacity 250ms;
    }
  }

  &-enter,
  &-leave {
    opacity: 0.9999;

    .content,
    .chat-sidebar {
      opacity: 0;
    }
  }
}
