.nuxt-content {
  /* `--heading-*` variables are from `./_typography.scss` */
  h1 {
    font-size: var(--heading-1-font-size);
    line-height: var(--heading-1-line-height);
    margin-bottom: var(--heading-1-bottom-margin);
  }

  h2 {
    font-size: var(--heading-2-font-size);
  }

  h1,
  h2 {
    &:not(:first-child) {
      margin-top: var(--heading-top-margin);
    }
  }

  a {
    color: var(--color-link);
    display: inline-block;
    font-family: var(--font-family-monospaced);

    &:hover {
      color: var(--color-link-hover);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: var(--space-24);

    a {
      display: inline-block;
      position: relative;
      text-decoration: none;

      &:visited {
        color: var(--color-text);
      }
    }
  }

  img,
  video {
    border-radius: var(--radius-md);
    display: block;
    filter: drop-shadow(0 4px 4px rgb(0 0 0 / 20%));
    height: auto;
    margin: var(--space-8) auto;
    max-width: 100%;
  }
}
