@layer block {
  .heading-1 {
    font-size: var(--heading-1-font-size);
    line-height: var(--heading-1-line-height);
    margin-bottom: var(--heading-1-bottom-margin);
  }

  .heading-2 {
    font-size: var(--heading-2-font-size);
  }

  .heading-1,
  .heading-2 {
    margin-top: var(--heading-top-margin);
  }

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    margin-top: 0;
  }
}
