@font-face {
  font-family: 'Noah';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/noah-regular-webfont.woff2') format('woff2'),
    url('/fonts/noah-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/noah-bold-webfont.woff2') format('woff2'),
    url('/fonts/noah-bold-webfont.woff') format('woff');
}
