@use 'fonts';

.nuxt-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: var(--letter-spacing-bold);
  }

  a {
    color: var(--base-font-color);

    &:visited {
      color: var(--caption-font-color);
    }

    &:hover {
      color: var(--color-grey-300);
    }
  }

  img,
  video {
    border-radius: 0.5rem;
    display: block;
    height: auto;
    margin: 2rem auto;
    max-width: 480px;
    width: 100%;
  }

  .feature-image {
    max-width: 100%;
  }
}

.nuxt-content-editor {
  background-color: var(--base-background-color);
  border-radius: 0.5rem;
  color: var(--color-grey-200);
  font-family: var(--font-family-monospaced);
  padding: 1rem !important;

  &:focus {
    outline: none;
  }
}
