@use 'sass:map';

/**
 * Responsive breakpoints
 */
$xs: 0px;
$sm: 480px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1440px;
$breakpoints: (
  'xs': $xs,
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl,
  'xxl': $xxl,
);

@mixin below($breakpoint) {
  $bp: map.get($breakpoints, $breakpoint);

  @media screen and (max-width: $bp) {
    @content;
  }
}

@mixin above($breakpoint) {
  $bp: map.get($breakpoints, $breakpoint);

  @media screen and (min-width: $bp + 0.01) {
    @content;
  }
}
